body{
	background-color: #F6F6F6;
}
#content{
	width:400px;
	position: absolute;
	left:42%;
	top:100px;
		
}


#random{
	margin-left: 55px;
	background-color: #5081A9;
	width:150px;
	height: 30px;
	color:#fff;
	font-family: 2em Helvetica sans-serif;
	border-radius: 8px;
	margin-bottom: 30px;
	}

#results{
	margin-top: 20px;
}